.custom1 {
    margin-right: 20px;
    height: 150px;
    border-radius: 8px;
}

a.custom1 {
    text-decoration: none;
}

.container {
    margin: 0;
}

.h1{
    display: inline;
}

.home {
    font-size: 50px;
}